<%- include("header", {title: title}); %>
        <div class="view_content">
                <div class="box_right">
                        <img src="./img/me.jpg"" >
                </div>
                <div class="box_left">
                        <h2>Om Leva Billigt</h2>
                        <br>
                        <p>Denna webbplats funkar som en förlägning av instagramkontot Leva Billigt som drivs av Anna-Sara Sélea. 
                        Här kommer det som en start att finnas olika recept men också intressanta dokument att ladda ner.</p>      
                        <p>Namnet Leva Billigt sammanfattar Instagramkontot ganska bra. Här ska man kunna hitta inspiration för att leva billigt i vardagen så att pengarna räcker till mer och till 
                        saker man vill förverkliga. Stort fokus ligger på matplanering: handling, matlagning och minskat matsvinn. 
                        Kontot är till att inspirera, inte uppmana till tävling i vem som kan leva på minst pengar. 
                        Alla familjer ser olika ut och det kommer även deras val, värderingar, ekonomi, kost osv att göra.</p>
                        <p>Ni hittar mig på <a class="red_a" href="https://www.instagram.com/levabilligt/">Instagram</a> </p>
                        <p>För samarbeten kontakta mig på info@levabilligt.com</p>              
                </div>  
        </div>
<%- include("footer"); %>