        </main>
        <footer>
                <p> Leva Billigt &#124; info@levabilligt.com</p>
                
                <p class="small">Copyright 2020 &#124; Webdesign by Sélea Design</p>

        </footer>

          
</body>
</html>